//* COLORS

//*> BACKGROUND-COLORS
$color-bg-primary: #f8f9fa;
$color-bg-secondary: #1e3a8a;
$color-bg-tertiary: #6483dd;

//*> TEXT-COLORS
$color-text-primary: #171717;
$color-text-secondary: #111827;
$color-text-tertiary: #d0ebff;
$color-text-fourth: #f8f9fa;
$color-text-fifth: #f2f2f2;

//*> BUTTON COLORS
$color-btn-primary: #d0ebff;
$color-btn-secondary: #1e3a8a;
$color-btn-tertiary: #5f6368;
$color-btn-tertiary-hover: #44474a;
$color-btn-fourth: #aa0a00;
$color-btn-fourth-hover: #d20000;

//*> BORDER-COLORS
$color-border-primary: #d0ebff;
$color-border-secondary: #1e3a8a;

//* FONTS
$font-inter: 'Inter', sans-serif;

//* BORDER-RADIUS
$border-medium: 0.6rem;
$border-big: 1.4rem;
$border-full: 50%;

//* NAVIGATION-HEIGHT
$nav-height: 9.6rem;
