.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 2px solid transparent;
  background-color: $color-btn-secondary;
  font-size: 1.8rem;
  padding: 1rem 1.8rem;
  font-family: inherit;
  font-weight: 500;
  color: $color-text-tertiary;
  cursor: pointer;
  border-radius: $border-medium;
  transition: all 0.3s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:disabled {
    background-color: $color-btn-primary;
    color: $color-text-primary;
  }

  &-primary {
    border-color: transparent;
    background-color: $color-btn-primary;
    color: $color-text-secondary;

    &:hover {
      background-color: $color-btn-secondary;
      color: $color-text-tertiary;
    }
  }

  &-secondary {
    border-color: transparent;
    background-color: $color-btn-secondary;
    color: $color-text-tertiary;

    &:hover {
      background-color: $color-btn-primary;
      color: $color-text-secondary;
    }
  }

  &-tertiary {
    border-color: transparent;
    background-color: $color-btn-tertiary;
    color: $color-text-fifth;
    flex: 1;
    &:hover {
      background-color: $color-btn-tertiary-hover;
    }
  }

  &-fourth {
    border-color: transparent;
    background-color: $color-btn-fourth;
    color: $color-text-fifth;
    flex: 1;
    &:hover {
      background-color: $color-btn-fourth-hover;
    }
  }

  &-outline {
    border: 2px solid transparent;
    transition: all 0.3s;

    &:hover {
      border-color: $color-border-primary;
    }
  }

  &-outline-primary {
    border-color: $color-border-primary;
  }

  &-outline-secondary {
    border-color: $color-border-primary;
  }

  &-rounded {
    border-radius: $border-big;
  }

  &-rounded-full {
    border-radius: $border-full;
  }
}
