.no-result {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  align-items: center;
  padding: 4rem;
  color: #555;
  width: 80rem;

  &-header {
    font-size: 4rem;
    font-weight: 600;
  }
  &-text {
    font-size: 1.8rem;
    text-align: center;
  }
}
